<div class="container">
	<div class="row">
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= active_class(all_path) %><%= active_class(root_path) %>"><%= link_to("All", all_path) %></li>
        <li role="presentation" class="<%= active_class(person_path) %>"><%= link_to("Person", person_path) %></li>
        <li role="presentation" class="<%= active_class(sport_path) %>"><%= link_to("Sport", sport_path) %></li>
        <li role="presentation" class="<%= active_class(politics_path) %>"><%= link_to("Politics", politics_path) %></li>
        <li role="presentation" class="<%= active_class(technology_path) %>"><%= link_to("Technology", technology_path) %></li>
        <li role="presentation" class="<%= active_class(interest_path) %>"><%= link_to("Interest", interest_path) %></li>
        <li role="presentation" class="<%= active_class(funny_path) %>"><%= link_to("Funny", funny_path) %></li>
        <li role="presentation" class="<%= active_class(anime_path) %>"><%= link_to("Anime", anime_path) %></li>
        <li role="presentation" class="<%= active_class(game_path) %>"><%= link_to("Game", game_path) %></li>
        <li role="presentation" class="<%= active_class(adult_path) %>"><%= link_to("Adult", adult_path) %></li>
        <li role="presentation" class="<%= active_class(other_path) %>"><%= link_to("Other", other_path) %></li>
      </ul>
    </div>
  </div>
</div>
